.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.planesNav {
  justify-content: space-between;
  align-items: center;
}

.sort {
  height: 80px;
  background-color: #442d85;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.createPlaneLink {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #d9dfff 100%
  );
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: black;
  padding: 8px 12px;
}

.sortBtn {
  font-size: 24px;
}
