.backBtn {
  background-color: transparent;
  color: grey;
  font-weight: 400;
}

.form {
  width: 500px;
  height: 450px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
