.backBtn {
  background-color: transparent;
  color: grey;
  font-weight: 400;
}

.form {
  width: 500px;
  height: 450px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 25px 25px 5px rgba(0, 0, 0, 0.4);
  border: 0.5px solid #f0f0ff;
  border-radius: 20px;
  padding: 30px 20px;
}
