.flexible {
  width: 500px;
  border: 2px solid #662b80;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 auto;
}

.input {
  background: #662c80;
  margin: 10px 0;
}
.input:focus,
.input:hover {
  background: #662c80;
}

.submit {
  background: #8848a5;
}

.form {
  margin: 0 auto;
}
